<h1><%=title%></h1>
<ul class="errors"></ul>

<label>Title
  <input type="text" name="meeting[title]"
    id="title" value="<%=meeting.escape("title")%>">
</label>
<br>

<label>About Meeting <br>
  <textarea name="meeting[about]"><%=meeting.escape("about")%></textarea>
</label>
<br>

<label>Date
  <input type="date" name="meeting[date]"
    value="<%=meeting.escape("date")%>">
</label>
<br>

<label>Time
  <input type="time" name="meeting[time]"
    value="<%=time(meeting.escape("time"))%>">
</label>

<label> Maximum Players
  <input type="number" name="meeting[max_players]"
          value="<%= meeting.escape("max_players") %>">
</label>

<%= buttons("radio", "public", "meeting", ['Yes', 'No'], [meeting.get("public")])%>
<%= select("location", "meeting", LOCATIONS, meeting.escape("location"))%>
<%= buttons("checkbox", "levels", "meeting", LEVELS, meeting.get("levels"))%>
<%= buttons("checkbox", "age_groups", "meeting", AGEGROUPS, meeting.get("age_groups"))%>
<%= buttons("checkbox", "genders", "meeting", ['M', 'F'], meeting.get("genders"))%>
<br>
<button class="submit-meeting"><%=buttonText%></button>
