<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h1><%=title%></h1>
</div>
<div class="modal-body">
  <div class="container">
    <ul class="errors"></ul>
    <div class="row col-sm-7">

      <div class="row">

        <div class="col-sm-5">
          <label>Title
          <input class="form-control" type="text" name="meeting[title]"
            value="<%=meeting.escape("title")%>">
        </div>

        <div class="col-sm-3">
          <label>Date</label>
            <input class="form-control" type="date" name="meeting[date]"
            value="<%=meeting.escape("date")%>">
        </div>
        <div class="col-sm-3">
          <label>Time</label>
          <input class="form-control" type="time" name="meeting[time]"
            value="<%=toMilitary(meeting.escape("time"))%>">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label>Location</label>
          <input class="form-control" type="text" name="meeting[location]"
                 value="<%=meeting.escape("location")%>">
        </div>
        <div class="col-sm-3">
          <label>Area</label>
          <%= select("area", "meeting", AREAS, meeting.escape("area"))%>
        </div>
        <div class="col-sm-3">
          <div>
            <label>Genders</label>
          </div>
          <div>
            <%= buttons("checkbox", "genders", "meeting", ['M', 'F'], meeting.get("genders"))%>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <label>About Meeting</label>
          <textarea name="meeting[about]" class="form-control" rows="3"><%=meeting.escape("about")%></textarea>
        </div>

        <div class="col-sm-7">
          <div class="row col-sm-12">
            <label>Age Groups</label>
            <div>
              <%= buttons("checkbox", "age_groups", "meeting", AGEGROUPS, meeting.get("age_groups"))%>
            </div>
          </div>
          <div class="row col-sm-12">
            <label>Levels</label>
            <div>
              <%= buttons("checkbox", "levels", "meeting", LEVELS, meeting.get("levels"))%>
            </div>
          </div>
        </div>
      </div>
      <div class="row add-bottom-margin">
        <div class="col-sm-5">
          <div class="row col-sm-12">
            <label>Public</label>
            <%= buttons("radio", "public", "meeting", ['Yes', 'No'], [meeting.get("public")])%>
          </div>
          <div class="row col-sm-12">
            <a href="#" class="invite">Invite Specific Players</a>
          </div>
        </div>
        <div class="col-sm-3">
          <label>Maximum Players</label>
          <input class="form-control" type="number" name="meeting[max_players]"
                  value="<%= meeting.escape("max_players") %>">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <ul class="display-invited" data-columns="2">

          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button type="button" class="submit-meeting btn btn-primary"><%=buttonText%></button>
</div>
