<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h1><%=title%></h1>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  <div class="col-sm-6">

    <label>Title
    </label>
    <input class="form-control" type="text" name="meeting[title]"
    value="<%=meeting.escape("title")%>">


    <label>About Meeting
    </label>
    <textarea name="meeting[about]" class="form-control"><%=meeting.escape("about")%></textarea>


    <label>Date
    </label>
    <input class="form-control" type="date" name="meeting[date]"
    value="<%=meeting.escape("date")%>">


    <label>Time
    </label>
    <input class="form-control" type="time" name="meeting[time]"
    value="<%=toMilitary(meeting.escape("time"))%>">

    <label> Maximum Players
    </label>
    <input class="form-control" type="number" name="meeting[max_players]"
    value="<%= meeting.escape("max_players") %>">
  </div>
  <div class="col-sm-6">

    <label>Location
    </label>
    <input class="form-control" type="text" name="meeting[location]"
    value="<%=meeting.escape("location")%>">

    <label>Area</label>
    <div>
      <%= select("area", "meeting", AREAS, meeting.escape("area"))%>
    </div>

    <label>Public</label>
    <div>
      <%= buttons("radio", "public", "meeting", ['Yes', 'No'], [meeting.get("public")])%>
    </div>

    <label>Levels</label>
    <div>
      <%= buttons("checkbox", "levels", "meeting", LEVELS, meeting.get("levels"))%>
    </div>

    <label>Age Groups</label>
    <div>
      <%= buttons("checkbox", "age_groups", "meeting", AGEGROUPS, meeting.get("age_groups"))%>
    </div>

    <label>Genders</label>
    <div>
      <%= buttons("checkbox", "genders", "meeting", ['M', 'F'], meeting.get("genders"))%>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
  <button class="submit-meeting btn btn-primary" data-dismiss="modal"><%=buttonText%></button>
</div>
