<h1><%=title%></h1>
<ul class="errors"></ul>

<label>Title
  <input type="text" name="meeting[title]"
    id="title" value="<%=meeting.escape("title")%>">
</label>
<br>

<label>About Meeting <br>
  <textarea name="meeting[about]"><%=meeting.escape("about")%></textarea>
</label>
<br>

<label>Date
  <input type="date" name="meeting[date]"
    value="<%=meeting.escape("date")%>">
</label>
<br>

<label>Time
  <input type="time" name="meeting[time]"
    value="<%=time(meeting.escape("time"))%>">
</label>

<label> Maximum Players
  <input type="number" name="meeting[max_players]"
          value="<%= meeting.escape("max_players") %>">
</label>
<%= buttons("radio", "public", "meeting", ['Yes', 'No'])%>
<%= select("location", "meeting", LOCATIONS)%>
<%= select("level", "meeting", LEVELS)%>
<%= select("age_groups", "meeting",
        ['1-18', '18-40', '40-55', '55-65', '65+'])%>
<%= buttons("checkbox", "genders", "meeting", ['M', 'F'])%>
<br>
<button class="submit-meeting"><%=buttonText%></button>
