<a href="#meetings/<%= meeting.id %>">
  <h3 class="index-item-header"><%= meeting.escape("title") %></h3>
  <div class="row">
    <label class="col-sm-4">Organizer:</label>
    <div class="col-sm-6">
      <%= meeting.get("organizer").fname %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-4">Date:</label>
    <div class="col-sm-6">
      <%= dateDisplay(meeting.escape("date")) %>
    </div>
  </div>
  <div class="row">
    <label class="col-sm-4">Time: </label>
    <div class="col-sm-6">
      <%= timeDisplay(meeting.get("time")) %>
    </div>
  </div>
</a>




<!-- accepted out of total
area



title
organizer
date
time -->
