<a href="#meetings/<%= meeting.id %>">
  <div class="border col-sm-4  ">
    <div class="index-item">
      <h3 class="index-item-header"><%= meeting.escape("title") %></h3>
      <div class="row">
        <label class="border col-sm-3">Organizer:</label>
        <div class="border col-sm-6">
          <%= meeting.get("organizer").fname %>
        </div>
      </div>
      <div class="row">
        <label class="border col-sm-3">Date:</label>
        <div class="border col-sm-6">
          <%= meeting.escape("date") %>
        </div>
      </div>
      <div class="row">
        <label class="border col-sm-3">Time: </label>
        <div class="border col-sm-6">
          <%= timeDisplay(meeting.get("time")) %>
        </div>
      </div>
    </div>
  </div>
</a>

<!-- accepted out of total
location



title
organizer
date
time -->
