  <div class="show-meeting col-md-10">

    <div class="meeting-details">
      <h1><%= meeting.escape("title") %></h1>
      <h2>Organized by <%= meeting.get("organizer").fname %></h2>

      <ul class="index-item">
        <a href="#meetings/<%= meeting.id %>">
        </a>
        <div class="response">
        </div>
        <li><%= meeting.escape("organizer_id") %></li>
        <li><%= meeting.escape("about") %></li>
        <li><%= dateDisplay(meeting.escape("date")) %></li>
        <li><%= timeDisplay(meeting.get("time")) %></li>
      </ul>
    </div>
    <a href="#meetings/<%=meeting.id%>/edit">edit</a>
  </div>
  <a href="#">back to index</a>
