<div class="modal-header clearfix">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h1 class="col-sm-3"><%= user.escape("fname") + " " + user.escape("lname") %></h1>
  <img class="col-sm-8 profile-picture" src="<%= user.escape("picture") %>">
</div>
<div class="modal-body col-sm-12">
  <div class="row">
    <div class=col-sm-6>
      <h3>Username:</h3>
      <%= user.escape("username") %>
    </div>
    <div class=col-sm-6>
      <h3>Email:</h3>
      <%= user.escape("email") %>
    </div>
  </div>
  <div class="row">
    <div class=col-sm-6>
      <h3>Age:</h3>
      <%= user.escape("age") %>
    </div>

    <div class=col-sm-6>
      <h3>Gender:</h3>
      <%= user.escape("gender") %>
    </div>

  </div>
  <div class="row">
    <div class=col-sm-6>
      <h3>Level:</h3>
      <%= user.escape("level") %>
    </div>
    <div class=col-sm-6>
      <h3>Area:</h3>
      <%= user.escape("area") %>
    </div>
  </div>
  <div class="row">
    <%= phone %>
  </div>


</div>
<div class="modal-footer">
  <% if(edit){ %>
    <button type="button" class="btn btn-default edit-button" >Edit</button>
  <%} %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>



<!-- click on edit button
change text of body
change button class
  remove edit button
  add save
change button text
add listener -->
