<div class="<%= label %>">
  <%= toTitle(label) %>
  <%buttonNames.forEach(function(buttonName){%>
  <label><%= buttonName %>
    <input type="<%= buttonType %>" name="<%=model%>[<%= label %>]"
      <%if(buttonName === selectedItem){%>
        checked
      <%}%>
      value="<%= buttonName %>">
  </label>
  <%}) %>
</div>
