<div class="<%= label %>">
  <select name="<%=model%>[<%=label%>]">
    <%itemNames.forEach(function(itemName){%>
        <option value="<%=itemName%>"
          <%if(itemName === selectedItem){%>
            checked
            <%}%>>
          <%=toTitle(itemName)%>
        </option>
    <%}) %>
  </select>
</div>
