<div class="<%= label %>">
    <label><%= toTitle(label) %>
      <select name="<%=model%>[<%=label%>]">
        <%itemNames.forEach(function(itemName){%>
            <option value="<%=itemName%>"
              <%if(itemName === selectedItem){%>
                checked
                <%}%>>
              <%=toTitle(itemName)%>
            </option>
        <%}) %>
      </select>
    </label>
</div>
