<div class="respondent row col-sm-12">
  <div class="image col-sm-7">
    <img src="<%= respondent.escape("picture") %>" class="thumb">
  </div>
  <div class="info col-sm-5" >
    <div>
      <a href="#users/<%= respondent.get("id") %>"><%= respondent.escape("fname")%> <%= respondent.escape("lname")%> </a>
    <div>
      <%= respondent.escape("level") %>
    </div>
  </div>
</div>
